<h2>
    <span ng-hide="ctrl.${moduleName}.id">Create ${domainClassName}</span>
    <span ng-show="ctrl.${moduleName}.id">Edit ${domainClassName}</span>
</h2>

<div flash-message ></div>

<form name="form" class="form-horizontal" role="form" novalidate> <% domainProperties.each { property -> %>
	
	<div field-container label="${property.label}" invalid="${'form.' + property.name + '.\$invalid'}">
		<%= renderInput(property, "ctrl.${moduleName}") %>
	</div><% } %>

    <div>
        <button crud-button="save" item="ctrl.${moduleName}" is-disabled="form.\$invalid" ></button>
        <span ng-if="ctrl.${moduleName}.id"><button crud-button="delete" item="ctrl.${moduleName}" ></button></span>
    </div>

</form>